.root{
	-fx-alignment: top-center;
	-fx-background-image: url("background.jpg");
	-fx-padding: 10px;
	-fx-spacing: 20;
}


.button{
-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.vbox{
	-fx-padding: 50 100 30 60;
		-fx-spacing: 20;
		-fx-alignment: center
}


.button:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.gridpane{
	-fx-grid-lines-visible: true;
	-fx-background-color: #D1DBBD;
}
.rectangle{
	-fx-background-color: #fff9f9;
	-fx-effect: innershadow(gaussian, #D1DBBD, 5, 0, 2,2)
}
.rectangle:hover{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}


.label{
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
# menuButton{
	-fx-background-color: #E8E5E2
	   	-fx-font-size: 13px;
	-fx-padding: 10 20 10 20;
}