.borderPane{
	-fx-alignment: top-center;
	-fx-background-color: #001A57;
	-fx-padding: 10px;
	-fx-spacing: 20;
}


.button{
	-fx-background-color: 
         #D1DBBD,
        linear-gradient(#FCFFF5 0%, #D1DBBD 20%, #91AA9D 100%);
	-fx-background-radius: 5,4,3,5;
	-fx-background-insets: 0,1,2,0;
	-fx-text-fill: #193441;
   	-fx-font-size: 14px;
	-fx-padding: 10 20 10 20;

}

.vbox{
	-fx-padding: 50 100 30 60;
		-fx-spacing: 20;
		-fx-alignment: center
}


.button:hover{
    -fx-background-color: #D75404
}

.gridpane{
	-fx-grid-lines-visible: true;
	-fx-background-color: #D1DBBD;
}


.label{
	-fx-font-size:14px;
	-fx-font-weight:bold;
	-fx-padding: 10 20 10 20;
	-fx-background-color: #D1DBBD,
	linear-gradient(#FCFFF5 0%, #D1DBBD 20%, #91AA9D 100%);
}