.root{
	-fx-alignment: center;
	-fx-background-image: url("../images/background_space.jpg");
	-fx-padding: 10px;
	-fx-spacing: 20;
}

.vbox{
	-fx-padding: 50 100 30 60;
		-fx-spacing: 20;
		-fx-alignment: center
}

.gridpane{
	-fx-grid-lines-visible: false;
	-fx-alignment: center;
	-fx-background-color: #D1DBBD;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-border-color: #82878c;
    -fx-background-color: #82878c;
}

.tab-content-area 
{
	-fx-border-color:#82878c;
	-fx-background-color: linear-gradient(#ffffff, #82878c);
	-fx-border-radius: 2;
    -fx-padding: 3 6 6 6;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}



.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: #82878c;
    -fx-border-color:#82878c;
    -fx-font-color: white;
}

.tab:selected {
-fx-border-color:#82878c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #add8e6;
}

#gameMenu {
    -fx-padding: 4;
}

.button{
    -fx-text-fill: black ;
    -fx-background-color: white;
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-border-radius: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
    -fx-background-color: linear-gradient(#ffffff, #bababa);
}

.button:hover{
	-fx-background-color: #D3E397;
}

.label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#bababa, #41464a);
    -fx-padding: 12px;
    -fx-border-radius: 6;
    -fx-border-color: #82878c;
}

.label:hover{
    -fx-background-color: #D3E397;
}

#newGameButton{
     -fx-padding: 4;
}


